body {
  background-color: hsl(213, 20%, 17%);
  margin: 0;
  transition: background-color 300ms cubic-bezier(0.75, 0, 0.25, 0.99);
}
body.warning {
  background-color: hsl(7, 70%, 34%);
}
#body {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#controls {
  height: 100%;
  width: 256px;
}
#script-list li {
  width: 100%;
  height: 30px;
  padding: 10px;
  cursor: pointer;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
}
#script-list {
  list-style: none;
  margin: 0;
  padding: 7px;
  height: 100%;
  width: 100%;
}
#script-list .btn {
  color: white;
  background-color: hsl(213, 20%, 17%);
  border-radius: 4px;
  position: relative;
}
#scripts {
  height: 100%;
  flex-grow: 1;
  background-color: hsl(213, 20%, 37%);
  padding: 7px;
}
#arrow {
  width: 14px;
  height: 14px;
  transition: transform 200ms cubic-bezier(0.75, 0, 0.25, 0.99);
}
#arrow rect {
  fill: white;
}
#arrow.forwardleft {
  transform: translate(-17.20729309px, -24.57456133px);
}
#arrow.forward {
  transform: translate(0px, -30px);
}
#arrow.forwardright {
  transform: translate(21.21320344px, -21.21320344px);
}
#arrow.right {
  transform: translate(30px, 0px);
}
#arrow.left {
  transform: translate(-30px, 0px);
}
#arrow.backleft {
  transform: translate(-21.21320344px, 21.21320344px);
}
#arrow.backward {
  transform: translate(0px, 30px);
}
#arrow.backright {
  transform: translate(24.57456133px, 17.20729309px);
}
.arrow-box-outer,
.arrow-box-inner {
  display: flex;
  align-items: center;
}
.arrow-box-outer {
  position: relative;
  flex-direction: column;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.arrow-box-inner {
  position: relative;
  flex-direction: row;
  height: 100%;
  flex-grow: 1;
}
.switches {
  bottom: 0;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 7px;
  box-sizing: border-box;
  position: absolute;
}
.switches .switch {
  display: inline;
  padding: 3px 6px;
  border-radius: 7px;
  color: #D0D0D0;
  font-family: sans-serif;
  cursor: pointer;
  transition: background-color 200ms cubic-bezier(0.75, 0, 0.25, 0.99);
}
.switches .switch[state=off] {
  background-color: hsl(7, 45%, 35%);
}
.switches .switch[state=on] {
  background-color: hsl(103, 45%, 35%);
}
.window-control {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  top: 0;
  position: absolute;
  height: 20px;
  width: 100%;
  padding: 5px 7px;
  box-sizing: border-box;
}
.window-control * {
  -webkit-app-region: no-drag;
}
.window-control span {
  float: right;
  cursor: pointer;
  border: 2px solid white;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  z-index: 100;
}
.window-control .btn-close {
  background-color: hsl(7, 45%, 35%);
}
#vert-indicator {
  position: relative;
  left: 0;
  height: 100%;
  width: 5px;
  display: flex;
  flex-direction: column;
}
#vert-indicator span {
  transition: height 200ms cubic-bezier(0.75, 0, 0.25, 0.99);
  position: absolute;
  background-color: white;
  width: 100%;
  height: 0%;
  display: inline;
  border-radius: 3px;
}
#vert-indicator span.up {
  bottom: 51%;
}
#vert-indicator span.down {
  top: 51%;
}
#vert-indicator.up span.up {
  height: 30%;
}
#vert-indicator.down span.down {
  height: 30%;
}
#hor-indicator {
  position: relative;
  top: 0;
  width: 100%;
  height: 5px;
  display: flex;
  flex-direction: row;
}
#hor-indicator span {
  transition: width 200ms cubic-bezier(0.75, 0, 0.25, 0.99);
  position: absolute;
  background-color: white;
  width: 0%;
  height: 100%;
  display: inline;
  border-radius: 3px;
}
#hor-indicator span.left {
  right: 51%;
}
#hor-indicator span.right {
  left: 51%;
}
#hor-indicator.left span.left {
  width: 30%;
}
#hor-indicator.right span.right {
  width: 30%;
}
#alt-indicator {
  position: absolute;
  right: 0;
  width: 5px;
  height: 100%;
}
#alt-indicator span {
  bottom: 0;
  transition: height 200ms cubic-bezier(0.75, 0, 0.25, 0.99);
  position: absolute;
  height: 0%;
  width: 100%;
  background-color: white;
  display: inline;
  border-radius: 3px 3px 0 0;
}
