@fg: white;
@bg: hsl(213, 20%, 17%);
@bg2: hsl(213, 20%, 37%);
@eio: cubic-bezier(.75,0,.25,.99);

@red: hsl(7, 45%, 35%);
@red2: hsl(7, 70%, 34%);

@indicator-size: 5px;
@indicator-color: @fg;
@indicator-size2: 30%;
@indicator-br: 3px;

@anim-speed: 200ms;
@anim-speed-long: 300ms;

body {
  background-color: @bg;
  margin: 0;

  transition: background-color @anim-speed-long @eio;

  &.warning {
    background-color: @red2;
  }
}

#body {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.dir(@name, @deg) {
  @rad: 30px;

  &.@{name} {
    // transform: rotate(@deg);
    transform: translate(@rad * cos(@deg), @rad * sin(@deg));

    // @tx: 1.5px;
    // #left-wing {
    //   // fill: green;
    //   transform: rotate(45deg) translate(@tx, 0);
    // }
    // #right-wing {
    //   // fill: blue;
    //   transform: rotate(-45deg) translate(-@tx, 0);
    // }
  }
}

#controls {
  height: 100%;
  width: 256px;
}

#script-list li {
  width: 100%;
  height: 30px;
  padding: 10px;
  cursor: pointer;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
}

#script-list {
  list-style: none;
  margin: 0;
  padding: 7px;
  height: 100%;
  width: 100%;
}
#script-list .btn {
  color: @fg;
  background-color: @bg;
  border-radius: 4px;
  position: relative;
}

#scripts {
  height: 100%;
  flex-grow: 1;
  background-color: @bg2;
  padding: 7px;
}

#arrow {
  width: 14px;
  height: 14px;
  transition: transform @anim-speed @eio;

  rect {
    fill: @fg;
  }

  .dir(forwardleft, 235deg);
  .dir(forward, 270deg);
  .dir(forwardright, 315deg);

  .dir(right, 0deg);
  .dir(left, 180deg);

  .dir(backleft, 135deg);
  .dir(backward, 90deg);
  .dir(backright, 35deg);
}

.arrow-box-outer, .arrow-box-inner {
    display    : flex;
    align-items: center;
}

.arrow-box-outer {
  position      : relative;
  flex-direction: column;
  height: 100%;
  width: 100%;
  left          : 0;
  right         : 0;
  top           : 0;
  bottom        : 0;
}

.arrow-box-inner {
  position      : relative;
  flex-direction: row;
  height        : 100%;
  flex-grow     : 1;
}

.switches {
  bottom: 0;
  height: 40px;
  width: 100%;

  display        : flex;
  flex-direction : row;
  justify-content: flex-start;
  align-items    : center;
  padding        : 5px 7px;
  box-sizing     : border-box;
  position       : absolute;

  .switch {
    display      : inline;
    padding      : 3px 6px;
    border-radius: 7px;
    color        : #D0D0D0;
    font-family  : sans-serif;
    cursor       : pointer;

    transition: background-color @anim-speed @eio;
    &[state=off] {
      background-color: @red;
    }
    &[state=on] {
      background-color: hsl(103, 45%, 35%);
    }
  }
}

.window-control {

  -webkit-user-select: none;
  -webkit-app-region: drag;

  * {
    -webkit-app-region: no-drag;
  }

  top: 0;
  position: absolute;
  height: 20px;
  width: 100%;
  padding: 5px 7px;
  box-sizing: border-box;
  span {
    float: right;
    cursor: pointer;
    border: 2px solid @fg;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    z-index: 100;
  }
  .btn-close {
    background-color: @red;
  }
}

#vert-indicator {
  position: relative;
  left: 0;
  height: 100%;
  width: @indicator-size;
  display: flex;
  flex-direction: column;

  span {
    transition: height @anim-speed @eio;
    position: absolute;
    background-color: @indicator-color;
    width: 100%;
    height: 0%;
    display: inline;
    border-radius: @indicator-br;

    &.up {
      bottom: 51%;
    }
    &.down {
      top: 51%;
    }
  }
  &.up span.up {
    height: @indicator-size2;
  }
  &.down span.down {
    height: @indicator-size2;
  }
}

#hor-indicator {
  position: relative;
  top: 0;
  width: 100%;
  height: @indicator-size;
  display: flex;
  flex-direction: row;

  span {
    transition: width @anim-speed @eio;
    position: absolute;
    background-color: @indicator-color;
    width: 0%;
    height: 100%;
    display: inline;
    border-radius: @indicator-br;

    &.left {
      right: 51%;
    }
    &.right {
      left: 51%;
    }

  }
    &.left span.left {
      width: @indicator-size2;
    }
    &.right span.right {
      width: @indicator-size2;
    }
}

#alt-indicator {
  position: absolute;
  right: 0;
  width: @indicator-size;
  height: 100%;

  span {
    bottom: 0;
    transition: height @anim-speed @eio;
    position: absolute;
    height: 0%;
    width: 100%;
    background-color: @indicator-color;
    display: inline;
    border-radius: @indicator-br @indicator-br 0 0;
  }
}
